# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vinxi
.output

# Dependencies
**/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local ENV files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Turborepo
.turbo

# typescript
*.tsbuildinfo

.direnv


# Added by cargo

/target

.env
# nix build output
result 
.machina
.nitro/
